body {
	padding: 10px;
	margin: 2px;
	background-color: #eeeeee;
	/*font-size: 10px;*/
	font-family: 'Source Code Pro', monospace;
}


h1 {
	font-family: 'Sigmar', cursive;
}


.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
  width: 100%; /* Full-width */
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
}

#filterBox, #saved_songs_section {
	border: 1px solid black;
	padding: 10px;
}

#saved_songs_table {
	width:100%;
}

#saved_songs_section tr {
	background-color: #dddddd;
}
